# 讀車子檔案 輸出成ply

In [1]:
from plyfile import PlyData
import pandas as pd
import numpy as np

In [2]:


def read_ply_to_dataframe(file_path):
    with open(file_path, 'rb') as file:
        plydata = PlyData.read(file)

    # Extract data from the plydata object
    data = plydata['vertex'].data

    # Create a dictionary to store the data
    ply_dict = {}
    for name in data.dtype.names:
        ply_dict[name] = data[name]

    # Convert the dictionary to a pandas DataFrame
    df = pd.DataFrame(ply_dict)

    return df

# Replace 'your_ply_file.ply' with the actual path to your PLY file

In [3]:
df = read_ply_to_dataframe("../data/data_3d_semantics/train/2013_05_28_drive_0000_sync/dynamic/0000010078_0000010362.ply")

In [4]:
df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
132207,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
132208,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
132209,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
132210,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
132211,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [5]:
rows_with_26 = df[df['semantic'] == 26]

In [6]:
rows_with_26

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
132207,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
132208,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
132209,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
132210,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
132211,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [16]:
visible_26 = rows_with_26[rows_with_26['visible'] == 1]

In [7]:
visible_26 = rows_with_26

In [8]:
import pandas as pd
import numpy as np
from plyfile import PlyData, PlyElement

# Example DataFrame (replace this with your actual DataFrame)


# Convert DataFrame to PLY-friendly format
vertex_count = len(visible_26)
vertex_dtype = [
    ('x', 'f4'),
    ('y', 'f4'),
    ('z', 'f4'),
    ('red', 'u1'),
    ('green', 'u1'),
    ('blue', 'u1'),
    ('semantic', 'i4'),
    ('instance', 'i4'),
    ('visible', 'u1'),
    ('timestamp', 'i4'),
    ('confidence', 'f4'),
]

vertices = np.empty(vertex_count, dtype=vertex_dtype)
vertices['x'] = visible_26['x'].values
vertices['y'] = visible_26['y'].values
vertices['z'] = visible_26['z'].values
vertices['red'] = visible_26['red'].values
vertices['green'] = visible_26['green'].values
vertices['blue'] = visible_26['blue'].values
vertices['semantic'] = visible_26['semantic'].values
vertices['instance'] = visible_26['instance'].values
vertices['visible'] = visible_26['visible'].values
vertices['timestamp'] = visible_26['timestamp'].values
vertices['confidence'] = visible_26['confidence'].values

# Write data to PLY file
ply_filename = 'car.ply'
ply_element = PlyElement.describe(vertices, 'vertex')

# Create PlyData object and save to file
PlyData([ply_element]).write('car.ply')

In [43]:
import plotly.express as px


def interactivePlot(df):
    #fig = px.scatter_3d(df, x='x', y='y', z='z', color=['rgb({},{},{})'.format(r,g,b) for r,g,b in zip(df.red.values, df.green.values, df.blue.values)])
    fig = px.scatter_3d(df, x='x', y='y', z='z', color="semantic")
    fig.update_traces(marker=dict(size=1))
    fig.update_xaxes(range=[-10000, 10000])
    fig.update_yaxes(range=[-10000, 10000]) 
    fig.update_layout(yaxis_range=[-3,3])
    fig.show()

In [45]:
def has_car(df):
    rows_with_13 = df[df['semantic'] == 13]
    return rows_with_13