# 讀車子檔案 輸出成ply

In [1]:
from plyfile import PlyData
import pandas as pd
import numpy as np

In [2]:


def read_ply_to_dataframe(file_path):
    with open(file_path, 'rb') as file:
        plydata = PlyData.read(file)

    # Extract data from the plydata object
    data = plydata['vertex'].data

    # Create a dictionary to store the data
    ply_dict = {}
    for name in data.dtype.names:
        ply_dict[name] = data[name]

    # Convert the dictionary to a pandas DataFrame
    df = pd.DataFrame(ply_dict)

    return df

# Replace 'your_ply_file.ply' with the actual path to your PLY file

In [8]:
df = read_ply_to_dataframe("../data/data_3d_semantics/train/2013_05_28_drive_0000_sync/dynamic/0000010078_0000010362.ply")

In [9]:
df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
132207,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
132208,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
132209,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
132210,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
132211,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [9]:
filtered_rows = df[(df['semantic'] == 26) & (df['instance'] != 26893)]

filtered_rows

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
655,997.600403,3206.037109,116.880203,52,37,22,26,26892,1,10242,0.775534
656,997.497620,3206.097900,116.881500,69,21,6,26,26892,1,10242,0.876049
657,997.665894,3206.020752,116.831001,227,255,255,26,26892,1,10242,0.832867
658,996.976501,3206.417480,116.832298,75,84,100,26,26892,1,10242,0.837654
659,998.067383,3205.636230,116.617302,66,81,20,26,26892,1,10242,0.839726
...,...,...,...,...,...,...,...,...,...,...,...
108179,986.038025,3214.399902,116.167999,128,128,128,26,26892,0,10266,1.000000
108180,986.067993,3214.429932,115.744003,128,128,128,26,26892,0,10266,1.000000
108181,985.965027,3214.500000,115.399002,128,128,128,26,26892,0,10266,1.000000
108182,985.804993,3214.649902,115.592003,128,128,128,26,26892,0,10266,1.000000
108183,983.218018,3216.520020,116.156998,128,128,128,26,26892,0,10266,1.000000

In [11]:
filtered_rows = df[(df['semantic'] == 26) & (df['instance'] == 26892)]

filtered_rows

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
655,997.600403,3206.037109,116.880203,52,37,22,26,26892,1,10242,0.775534
656,997.497620,3206.097900,116.881500,69,21,6,26,26892,1,10242,0.876049
657,997.665894,3206.020752,116.831001,227,255,255,26,26892,1,10242,0.832867
658,996.976501,3206.417480,116.832298,75,84,100,26,26892,1,10242,0.837654
659,998.067383,3205.636230,116.617302,66,81,20,26,26892,1,10242,0.839726
...,...,...,...,...,...,...,...,...,...,...,...
108179,986.038025,3214.399902,116.167999,128,128,128,26,26892,0,10266,1.000000
108180,986.067993,3214.429932,115.744003,128,128,128,26,26892,0,10266,1.000000
108181,985.965027,3214.500000,115.399002,128,128,128,26,26892,0,10266,1.000000
108182,985.804993,3214.649902,115.592003,128,128,128,26,26892,0,10266,1.000000
108183,983.218018,3216.520020,116.156998,128,128,128,26,26892,0,10266,1.000000

In [10]:
rows_with_26 = df[df['semantic'] == 26]

In [11]:
rows_with_26

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
132207,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
132208,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
132209,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
132210,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
132211,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [16]:
visible_26 = rows_with_26[rows_with_26['visible'] == 1]

In [13]:
visible_26 = rows_with_26

In [14]:
import pandas as pd
import numpy as np
from plyfile import PlyData, PlyElement

# Example DataFrame (replace this with your actual DataFrame)


# Convert DataFrame to PLY-friendly format
vertex_count = len(visible_26)
vertex_dtype = [
    ('x', 'f8'),
    ('y', 'f8'),
    ('z', 'f8'),
    ('red', 'u1'),
    ('green', 'u1'),
    ('blue', 'u1'),
    ('semantic', 'i4'),
    ('instance', 'i4'),
    ('visible', 'u1'),
    ('timestamp', 'i4'),
    ('confidence', 'f4'),
]

vertices = np.empty(vertex_count, dtype=vertex_dtype)
vertices['x'] = visible_26['x'].values
vertices['y'] = visible_26['y'].values
vertices['z'] = visible_26['z'].values
vertices['red'] = visible_26['red'].values
vertices['green'] = visible_26['green'].values
vertices['blue'] = visible_26['blue'].values
vertices['semantic'] = visible_26['semantic'].values
vertices['instance'] = visible_26['instance'].values
vertices['visible'] = visible_26['visible'].values
vertices['timestamp'] = visible_26['timestamp'].values
vertices['confidence'] = visible_26['confidence'].values

# Write data to PLY file
ply_filename = 'car.ply'
ply_element = PlyElement.describe(vertices, 'vertex')

# Create PlyData object and save to file
PlyData([ply_element]).write('car.ply')

In [43]:
import plotly.express as px


def interactivePlot(df):
    #fig = px.scatter_3d(df, x='x', y='y', z='z', color=['rgb({},{},{})'.format(r,g,b) for r,g,b in zip(df.red.values, df.green.values, df.blue.values)])
    fig = px.scatter_3d(df, x='x', y='y', z='z', color="semantic")
    fig.update_traces(marker=dict(size=1))
    fig.update_xaxes(range=[-10000, 10000])
    fig.update_yaxes(range=[-10000, 10000]) 
    fig.update_layout(yaxis_range=[-3,3])
    fig.show()

In [45]:
def has_car(df):
    rows_with_13 = df[df['semantic'] == 13]
    return rows_with_13

## 把car.ply 裡的不同的instance分出來

In [68]:
car_df = read_ply_to_dataframe("./car_point_cloud/car.ply")
car_df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
130957,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
130958,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
130959,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
130960,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
130961,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [69]:
rows_with_instance_26893 = car_df[car_df['instance'] == 26893]
rows_with_instance_26893

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
130957,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
130958,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
130959,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
130960,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
130961,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [21]:
rows_with_instance_26892 = car_df[car_df['instance'] == 26892]
rows_with_instance_26892

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
655,997.600403,3206.037109,116.880203,52,37,22,26,26892,1,10242,0.775534
656,997.497620,3206.097900,116.881500,69,21,6,26,26892,1,10242,0.876049
657,997.665894,3206.020752,116.831001,227,255,255,26,26892,1,10242,0.832867
658,996.976501,3206.417480,116.832298,75,84,100,26,26892,1,10242,0.837654
659,998.067383,3205.636230,116.617302,66,81,20,26,26892,1,10242,0.839726
...,...,...,...,...,...,...,...,...,...,...,...
106929,986.038025,3214.399902,116.167999,128,128,128,26,26892,0,10266,1.000000
106930,986.067993,3214.429932,115.744003,128,128,128,26,26892,0,10266,1.000000
106931,985.965027,3214.500000,115.399002,128,128,128,26,26892,0,10266,1.000000
106932,985.804993,3214.649902,115.592003,128,128,128,26,26892,0,10266,1.000000
106933,983.218018,3216.520020,116.156998,128,128,128,26,26892,0,10266,1.000000

In [18]:
from plyfile import PlyData, PlyElement
import numpy as np

# Example DataFrame (replace this with your actual DataFrame)

def df_to_ply(input_df, name):
# Convert DataFrame to PLY-friendly format
    vertex_count = len(input_df)
    vertex_dtype = [
        ('x', 'f8'),
        ('y', 'f8'),
        ('z', 'f8'),
        ('red', 'u1'),
        ('green', 'u1'),
        ('blue', 'u1'),
        ('semantic', 'i4'),
        ('instance', 'i4'),
        ('visible', 'u1'),
        ('timestamp', 'i4'),
        ('confidence', 'f4'),
    ]

    vertices = np.empty(vertex_count, dtype=vertex_dtype)
    vertices['x'] = input_df['x'].values
    vertices['y'] = input_df['y'].values
    vertices['z'] = input_df['z'].values
    vertices['red'] = input_df['red'].values
    vertices['green'] = input_df['green'].values
    vertices['blue'] = input_df['blue'].values
    vertices['semantic'] = input_df['semantic'].values
    vertices['instance'] = input_df['instance'].values
    vertices['visible'] = input_df['visible'].values
    vertices['timestamp'] = input_df['timestamp'].values
    vertices['confidence'] = input_df['confidence'].values

    # Write data to PLY file
    
    ply_element = PlyElement.describe(vertices, 'vertex')

    # Create PlyData object and save to file
    PlyData([ply_element]).write(name)

In [22]:
df_to_ply(rows_with_instance_26892, "./car_point_cloud/car_26892.ply")

In [23]:
df_to_ply(rows_with_instance_26893, "./car_point_cloud/car_26893.ply") # 這個比較好

## 把26893取出連續的點雲，去掉斷掉一大截的(24個frame)

In [70]:
rows_with_instance_26893

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
130957,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
130958,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
130959,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
130960,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
130961,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [35]:
print(rows_with_instance_26893['timestamp'].value_counts())

timestamp
10338    5831
10337    4604
10336    3065
10339    2906
10345    2228
         ...
10254       3
10255       3
10256       2
10258       1
10259       1
Name: count, Length: 239, dtype: int64

In [36]:
value_counts_string = rows_with_instance_26893['timestamp'].value_counts().to_string()

# Write the string to a text file
with open('value_counts.txt', 'w') as f:
    f.write(value_counts_string)

print("Value counts saved to 'value_counts.txt'")

Value counts saved to 'value_counts.txt'

In [38]:
sorted(rows_with_instance_26893['timestamp'].unique())

[10078,
 10079,
 10080,
 10081,
 10082,
 10083,
 10084,
 10085,
 10086,
 10087,
 10088,
 10089,
 10090,
 10091,
 10092,
 10093,
 10094,
 10095,
 10096,
 10097,
 10098,
 10099,
 10100,
 10101,
 10122,
 10123,
 10124,
 10125,
 10126,
 10127,
 10128,
 10129,
 10130,
 10131,
 10132,
 10133,
 10134,
 10135,
 10136,
 10137,
 10138,
 10139,
 10140,
 10141,
 10142,
 10143,
 10144,
 10145,
 10146,
 10147,
 10148,
 10149,
 10150,
 10151,
 10152,
 10153,
 10154,
 10155,
 10156,
 10157,
 10158,
 10159,
 10160,
 10161,
 10162,
 10163,
 10164,
 10165,
 10166,
 10167,
 10168,
 10169,
 10170,
 10171,
 10172,
 10173,
 10174,
 10175,
 10176,
 10177,
 10178,
 10179,
 10180,
 10181,
 10182,
 10183,
 10184,
 10185,
 10186,
 10187,
 10188,
 10189,
 10190,
 10191,
 10192,
 10193,
 10194,
 10195,
 10196,
 10197,
 10198,
 10199,
 10201,
 10202,
 10203,
 10204,
 10205,
 10206,
 10207,
 10208,
 10209,
 10210,
 10211,
 10212,
 10213,
 10214,
 10215,
 10216,
 10217,
 10218,
 10219,
 10220,
 10222,
 10224,
 10226,
 10228,
 10230,
 10233,
 10236,
 10238,
 10240,
 10242,
 10246,
 10248,
 10250,
 10251,
 10252,
 10253,
 10254,
 10255,
 10256,
 10257,
 10258,
 10259,
 10260,
 10261,
 10262,
 10263,
 10264,
 10265,
 10266,
 10267,
 10268,
 10269,
 10271,
 10272,
 10273,
 10274,
 10275,
 10276,
 10277,
 10278,
 10279,
 10280,
 10281,
 10282,
 10283,
 10284,
 10285,
 10286,
 10287,
 10288,
 10289,
 10290,
 10291,
 10292,
 10293,
 10294,
 10295,
 10296,
 10297,
 10298,
 10299,
 10300,
 10301,
 10302,
 10303,
 10304,
 10305,
 10306,
 10307,
 10308,
 10309,
 10310,
 10311,
 10312,
 10313,
 10314,
 10315,
 10316,
 10317,
 10318,
 10319,
 10320,
 10321,
 10322,
 10323,
 10324,
 10325,
 10326,
 10327,
 10328,
 10329,
 10330,
 10331,
 10332,
 10333,
 10334,
 10335,
 10336,
 10337,
 10338,
 10339,
 10340,
 10341,
 10342,
 10343,
 10344,
 10345,
 10346,
 10347,
 10348,
 10349,
 10350,
 10351,
 10352,
 10353,
 10354,
 10355]

### 去掉以下的點雲

In [73]:
instances_to_remove = [
    10078, 10079, 10080, 10081, 10082,
    10083, 10084, 10085, 10086, 10087,
    10088, 10089, 10090, 10091, 10092,
    10093, 10094, 10095, 10096, 10097,
    10098, 10099, 10100, 10101
]
filtered_df = rows_with_instance_26893[~rows_with_instance_26893['timestamp'].isin(instances_to_remove)]

# 只留以下點雲

In [75]:
time_to_keep = [
    10317,
    10316
]
filtered_timestamp_df = rows_with_instance_26893[rows_with_instance_26893['timestamp'].isin(time_to_keep)]

In [76]:
filtered_timestamp_df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
5265,1051.430054,3178.600098,116.200996,48,32,23,26,26893,1,10317,0.883225
24465,1052.178955,3178.006104,116.723900,128,128,128,26,26893,0,10317,1.000000
24466,1052.047119,3178.155762,116.726196,128,128,128,26,26893,0,10317,1.000000
24467,1052.076050,3178.220459,116.725800,128,128,128,26,26893,0,10317,1.000000
24468,1052.035278,3178.320801,116.726501,128,128,128,26,26893,0,10317,1.000000
...,...,...,...,...,...,...,...,...,...,...,...
109528,1053.359985,3178.280029,116.277000,128,128,128,26,26893,0,10317,1.000000
109529,1053.339966,3178.199951,116.277000,128,128,128,26,26893,0,10317,1.000000
109530,1053.400024,3178.300049,116.276001,128,128,128,26,26893,0,10317,1.000000
109531,1053.329956,3178.120117,116.277000,128,128,128,26,26893,0,10317,1.000000
109532,1054.329956,3178.479980,116.246002,128,128,128,26,26893,0,10317,1.000000

In [ ]:
df_to_ply(filtered_timestamp_df, "car_point_cloud/car_26893_timestamp.ply")

In [45]:
filtered_df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
0,1056.387329,3177.693848,116.197304,255,255,255,26,26893,1,10341,0.749400
1,1056.380127,3177.762451,116.177597,255,255,255,26,26893,1,10341,0.799349
2,1056.525513,3177.733643,116.142799,140,142,145,26,26893,1,10341,0.829725
3,1056.490356,3177.663086,116.097000,255,255,255,26,26893,1,10341,0.808272
4,1056.394287,3177.763428,116.076797,233,220,210,26,26893,1,10341,0.841420
...,...,...,...,...,...,...,...,...,...,...,...
130957,1053.630005,3177.399902,116.285004,128,128,128,26,26893,0,10355,1.000000
130958,1053.619995,3177.379883,116.285004,128,128,128,26,26893,0,10355,1.000000
130959,1053.640015,3177.540039,116.282997,128,128,128,26,26893,0,10355,1.000000
130960,1053.630005,3177.489990,116.283997,128,128,128,26,26893,0,10355,1.000000
130961,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.000000

In [74]:
df_to_ply(filtered_df, "./car_point_cloud/car_26893_filtered.ply")

## change filtered ply to sorted with timestamp and store to txt

In [48]:
filtered_car_df = read_ply_to_dataframe("./car_point_cloud/car_26893_filtered.ply")

In [67]:
sorted_df = filtered_car_df.sort_values(by='timestamp', ascending=False)

# Create the desired format and store in a list
output_lines = []
for timestamp, group in sorted_df.groupby('timestamp', sort=False):
    output_lines.append(f'{timestamp} {len(group)}')
    for _, row in group.iterrows():
        output_lines.append(f'{row["x"]:.8f} {row["y"]:.8f} {row["z"]:.8f}')

# Write the list to a text file
with open('output.txt', 'w') as f:
    f.write('\n'.join(output_lines))

In [65]:
sorted_df

,x,y,z,red,green,blue,semantic,instance,visible,timestamp,confidence
58654,1053.650024,3177.649902,116.281998,128,128,128,26,26893,0,10355,1.0
58622,1055.079956,3177.320068,116.703003,128,128,128,26,26893,0,10355,1.0
58620,1055.119995,3177.510010,116.702003,128,128,128,26,26893,0,10355,1.0
58619,1055.130005,3177.550049,116.700996,128,128,128,26,26893,0,10355,1.0
58618,1055.109985,3177.399902,116.703003,128,128,128,26,26893,0,10355,1.0
...,...,...,...,...,...,...,...,...,...,...,...
27561,959.252991,3233.320068,115.363998,128,128,128,26,26893,0,10122,1.0
27560,959.318970,3233.429932,115.358002,128,128,128,26,26893,0,10122,1.0
27559,959.895996,3234.129883,115.318001,128,128,128,26,26893,0,10122,1.0
27558,959.526001,3233.679932,115.344002,128,128,128,26,26893,0,10122,1.0
27573,960.127014,3234.050049,116.064003,128,128,128,26,26893,0,10122,1.0